html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Chakra Petch", sans-serif;
}
.header {
  margin-top: 5vh;
  margin-bottom: 7vh;
  text-align: center;
}
h1 {
  font-size: 6.5rem;
}
h2 {
  font-size: 3rem;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 5vh;
  margin-top: 0;
}
.box {
  width: 25vw;
  align-items: center;
  padding: 5vh 3vw;
  box-shadow: -1.3vw 2vh rgb(245, 239, 206);
  border-width: 30px;
  border-style: solid;
  border-image: url(images/ac-bg.png) 25% round;
  border-radius: 15px;
  background-color: rgb(210, 221, 157);
  position: relative;
}
.box::after {
  border-radius: 50%;
}
.box-text {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border: rgb(255, 238, 144) solid 8px;
  background-image: url(images/ac-text-bg.png);
  box-sizing: context-box;
  padding: 50px;
  margin-top: 50px;
  border-radius: 80px 80px 0px 0px;
  color: white;
}
.name-tag {
  font-size: 5rem;
}
.desc {
  font-size: 2rem;
}
.item-tag {
  font-weight: 600;
}
img {
  height: 35vh;
  margin-bottom: 8vh;
}
#box-jeremiah-img {
  height: 30vh;
}
