html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Balsamiq Sans", cursive;
}
.header {
  margin-top: 1%;
  margin-bottom: 7vh;
  text-align: center;
  font-family: "finkheavyregular", serif;
  height: 47vh;
}
.header img {
  position: relative;
  height: 47vh;
}
#header-main {
  font-size: 14.2vh;
  padding: 7vh;
  color: rgba(230, 185, 68, 255);
  text-shadow: 0.4rem 0.5rem rgba(77, 61, 35, 255);
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bottom-header-main {
  display: block;
  width: 100vw;
}
#subheader {
  font-family: "Enriqueta", serif;
  font-size: 3.5vh;
  color: rgb(255, 255, 255);
  text-shadow: -0.2rem -0.2rem rgb(46, 46, 46);
  position: absolute;
  top: 42%;
  bottom: 53%;
  left: 50%;
  transform: translateX(-50%);
}
.gallery {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.rounded-corners-gradient-borders {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(rgb(211, 218, 178), rgb(211, 218, 178)),
    radial-gradient(circle at top left, rgb(211, 218, 178), rgb(211, 218, 178));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.box {
  width: 26vw;
  align-items: center;
  padding: 5vh 3vw;
  box-shadow: 0 1.5vh rgb(255, 242, 128), 1vw 2.5vh rgb(255, 251, 210);
  border-width: 30px;
  border-style: solid;
  border-image: url(images/ac-bg.png) 25% round;
  border-radius: 15px;
  background-color: rgb(211, 218, 178);
  position: relative;
  margin: 5vh auto;
}
.box-text {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  top: 65%;
  border: rgb(255, 238, 144) solid 8px;
  background-image: url(images/ac-text-bg.png);
  box-sizing: border-box;
  border-radius: 80px 80px 0px 0px;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.name-tag {
  font-size: 5rem;
}
.desc {
  font-size: 2rem;
}
.item-tag {
  font-weight: 600;
}
.character-img {
  height: 35vh;
  margin-bottom: 8vh;
}
#box-jeremiah-img {
  height: 32vh;
}
#box-dora-img {
  height: 30vh;
}
#box-blathers-img {
  height: 33vh;
  position: absolute;
  left: 15%;
  top: 15%;
}
.logo-bg {
  height: 8vh;
  position: absolute;
  right: 4%;
}
.logo-bg-1 {
  top: 4%;
}
.logo-bg-2 {
  top: 20%;
}
.logo-img {
  height: 4vh;
  position: absolute;
  top: 7.7%;
  right: 7.7%;
}
.item-img {
  top: 24%;
}
@media screen and (max-width: 2400px) {
  #subheader {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 41.5%;
  }
}
@media screen and (max-width: 1950px) {
  #subheader {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 41%;
  }
}
@media screen and (max-width: 1700px) {
  .name-tag {
    font-size: 4rem;
  }
  .desc {
    font-size: 1.8rem;
  }
  .item-tag {
    font-weight: 600;
  }
  .character-img {
    height: 30vh;
    margin-bottom: 8vh;
  }
  .box {
    position: relative;
  }
  #box-jeremiah-img {
    height: 26vh;
    right: 50%;
    top: 13%;
    transform: translateX(50%);
    position: absolute;
  }
  #box-dora-img {
    height: 26vh;
  }
  #box-blathers-img {
    height: 28vh;
    position: absolute;
    left: 15%;
    top: 15%;
  }
}
@media screen and (max-width: 1500px) {
  .box {
    width: 35%;
    height: 50%;
  }
  #box-blathers-img {
    position: static;
  }
  #box-jeremiah-img {
    right: 50%;
    left: 13%;
    transform: translateX(-50%);
    position: static;
  }
}
@media screen and (max-width: 1200px) {
  #subheader {
    top: 42%;
    bottom: 53%;
    left: 50%;
    transform: translateX(-50%);
  }
  .name-tag {
    font-size: 2.5rem;
  }
  .desc {
    font-size: 1.5rem;
  }
  .item-tag {
    font-weight: 600;
  }
  .character-img {
    height: 38vh;
    margin-bottom: 8vh;
  }
  .box {
    position: relative;
    height: 70vh;
  }
  #box-jeremiah-img {
    height: 32vh;
    transform: translateY(90%);
    transform: translateX(7%);
    position: static;
  }
  #box-dora-img {
    height: 34vh;
  }
  #box-blathers-img {
    height: 37vh;
    position: static;
    transform: translateY(7.4%);
  }
  .logo-img {
    top: 7%;
  }
  .item-img {
    top: 23.5%;
  }
}
@media screen and (max-width: 970px) {
  .box {
    width: 60%;
    height: 50%;
    margin: 5vh 2vw;
  }
  #box-blathers {
    width: 60%;
    height: 50%;
  }
}
@media screen and (max-width: 700px) {
  .box {
    width: 80%;
    height: 100%;
    margin: 5vh 2vw;
  }
}
